/* *
.card {
  margin: 0;
  flex-direction: row;
  display: flex;
  align-items: flex-start; 
  position: relative;
  min-width: 200px;
  max-height: 300px;
  height: auto;
  filter: drop-shadow(0px 0px 2px #8a8a8a);
  background-color: rgb(51, 44, 44);
  overflow:hidden;

  .movie_poster {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    user-select: none;
    width: 100%; 
    height: 100%; 
    background-color: red;
    position: relative;
    z-index: 2; 
    
    img {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover ~ .movie_info {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .movie_info {
    color: black;
    user-select: none;
    background: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5px 10px;
    z-index: 1;
    position: absolute; 
    width: 300px;
    height: calc(100% - 10px);
    gap: 5px;
    top: 0;
    right: 0;
    transform: translateX(100%); 
    opacity: 0; 
    transition: transform 0.3s ease-in-out; /* Smooth transitions for both properties 
    
    h1 {
      margin: auto 0 0 0;
      font-size: 1.5rem;
    }
    .release, .rating {
      font-weight: 500;
      color: grey;
    }
    .overview {
      overflow: auto;
    }
    p {
      margin: 0;
      text-overflow: ellipsis;
    }
  }
}

.add {
  background-color: transparent;
  color: rgb(205, 139, 139);
  border: none;
  padding: 0;
  text-align: center;
  position: absolute;
  font-weight: 400;
  font-size: 1.5rem;
  top: 3%;
  right: 8%;
  filter: drop-shadow(0px 0px 2px #8a8a8a);
  z-index: 2; /* Ensure button is above the overlay 
  cursor: pointer;
  &:hover {
    color: #59c121;
  }
} **/