$tomato: #ff5330;
$tomatoHover: #fd8972;

.contain_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: 0.5s fadeInUp;
  margin-bottom: 3%;
}

.formContainer {
  margin: 0px 50px;
  padding: 8%;
  border-radius: 10px;
  color: black;
  width: 40vw;
  max-width: 300px;
  background-color: white;
  h1 {
    user-select: none;
    color: black; 
    text-align: center;
    margin: 0;
    font-size: 3rem;
  } h2 {
    margin-top: 10px;
    user-select: none;
    color: rgb(124, 124, 124); 
    text-align: center;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 700;
  }
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;

  &:hover {
    box-shadow: rgba(149, 157, 165, 0.4) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
}

.formInfo {
  padding-top: 10px;
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    
    label {
      user-select: none;
      font-size: smaller;
      width: 100%;
      text-align: left;
      padding-left: 18%;
      font-weight: 500;
    } 
    input {
      font-family: Poppins;
      border-radius: 3px;
      border: 1px solid #ccc;
      padding-left: 5px;
      background-color: white;
      width: 80%;
      transition: 0.4s;
    }
    .error {
      background-color: rgb(255, 221, 221);
    }    
    .error input{
      background-color: rgb(255, 221, 221);
    }
  }
}

.message {
  user-select: none;
  color: $tomato;
  text-align: left;
  padding-left: 9%;
  font-size: 0.9rem;  
  padding-bottom: 3%;
  margin-top: 2px;
  font-weight: 500;
}

.sub_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 4%;
  user-select: none;
  
  button {
    border-radius: 5px;
    border-style: solid 1px;
    padding: 8px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-style: none;
    background-color: $tomato;
    width: 83%;
    font-weight: 600;
    color:white;

    &:hover{
      background-color:  $tomatoHover;
      color:white;
    }
  }
}

.gap {
  padding: 5px;
}

.forgot {
  margin-bottom: 10%;
  text-align: center;
}

.forgot a {
  font-size: 0.9rem;
  transition: 1s;
  color: $tomato;
  text-decoration: none;
  font-weight: 600;
}

.backto, .goto{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  font-size: 0.9rem;
  user-select: none;
}

.goto p {
  font-size: 0.9rem;
}

.goto a, .backto a{
  color: $tomato;
  text-decoration: none;
  font-weight: 600;
}

.goto a:hover, .backto a:hover {
  color:$tomatoHover;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(5%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
