$tomato: #ff5330;
$tomatoHover: #fd8972;

.search-box {
  display: flex;
  align-items: center; /* y-axis */
  justify-content: center; /* x-axis */
  padding: 4px;
  max-width: 800px;
  
  img {
    width: 100%;
  }

  input {
    width: 80%;
    font-family: 'Poppins';
    border-radius: 20px;
    border-style: none;
    padding: 10px 15px;
    position: relative;
    transition: background-color 0.5s ease;
    outline: 1px solid black;

    &:focus {
      background-image: linear-gradient(to right, 
      rgb(245, 246, 249) , rgb(255, 255, 255));
    }
    &:hover{
    }
  }

  button {
    font-family: 'Poppins';
    border-radius: 100%;
    border-style: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    color: white;
    background:$tomato;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.5s ease;
  
    &:hover {
      background-color: $tomatoHover;
    }
  
    &:active {
      animation: bounce 0.3s;
    }
  }
}
